<!DOCTYPE html>
<html>  
	<head>
    <title>Modifica Software House</title>
  </head>
  <body>
    <h1>Modifica una software house</h1>
    <form th:action="'/admin/updateSoftwareHouse/'+${softwareHouse.id}" method="POST" th:object="${softwareHouse}" enctype="multipart/form-data">
	<div>
        Nome<span><input type="text" th:field="${softwareHouse.nome}" placeholder="Nome"/></span>
      </div>
	  <input type="file" name='input-image' id="input-image" accept="image/png, image/jpeg" class="input-image"/>
        <span><button type="submit" class="submit">Conferma</button></span>
      </div>
   </form>
  </body>
</html>
