<!DOCTYPE html>
<html>

<head>
	<title>
		SiwSoftware - aggiungi sviluppatore
	</title>
</head>

<body>
	<ul  th:if="${software.sviluppatori!=null || !software.sviluppatori.isEmpty()}" >
			<li th:each="sviluppatore : ${software.sviluppatori}">
						<a th:href="'/admin/removeSviluppatore' + ${operazione} + '/' + ${software.id} + '/' + ${sviluppatore.id}" th:text="${sviluppatore.nome} + ', ' + ${sviluppatore.cognome}"></a>
			</li>
		</ul>
		
		<ul  th:if="${sviluppatori!=null || !sviluppatori.isEmpty()}" >
					<li th:each="sviluppatore : ${sviluppatori}">
								<a th:href="'/admin/removeSviluppatore' + ${operazione} + '/' + ${software.id} + '/' + ${sviluppatore.id}" th:text="${sviluppatore.nome} + ', ' + ${sviluppatore.cognome}"></a>
					</li>
				</ul>

		<a th:href="'/software/' + ${software.id}" class="button">Fine</a>
</body>

</html>