<!DOCTYPE html>
<html>  <head>
    <title>Nuovo sviluppatore</title>
  </head>
  <body>
	<form th:action="@{/admin/sviluppatore}" method="POST" enctype="multipart/form-data" th:object="${utente}">
			<div>
	        Username: <span><input required type="text" th:field="${utente.username}"/></span>
	      </div>
	      <div>
	        Password: <span><input required type="text" th:field="${utente.password}"/></span>
	      </div>
	      <div>
			  <div>
	        Nome: <span><input required type="text" th:field="${sviluppatore.nome}"/></span>
	      </div>
	      <div>
	        Cognome: <span><input required type="text" th:field="${sviluppatore.cognome}"/></span>
	      </div>
	      <div>
	        Foto profilo:
			<br>
			<input type="file" name='input-image' id="input-image" accept="image/png, image/jpeg"/>
	      <br>
	      </div>
		  <img id="thumbnail"/>
		  </div>
	        <span><button type="submit" id="submit">Salva</button></span>
	      </div>
	    </form>
  </body>
</html>
