<!DOCTYPE html>
<html>

<head>
	<title>
		Gestisci i sviluppatori
	</title>
</head>

<body>
	<div th:if="${sviluppatori==null || sviluppatori.isEmpty()}">Non ci sono software nel sistema</div>
	<ul>
		<li th:each="sviluppatore : ${sviluppatori}">
			<a th:href="@{'/sviluppatore' + '/' + ${sviluppatore.id}}" th:text="${sviluppatore.nome}"></a>
			<a th:href="@{'/admin/formUpdateSviluppatore/' + ${sviluppatore.id}}">
				modifica
			</a>
			<a th:href="@{'/admin/removeSviluppatore/' + ${sviluppatore.id}}">
				elimina
			</a>
		</li>
	</ul>
</body>

</html>