<!DOCTYPE html>
<html>

<head>
	<title>
		Gestisci software House
	</title>
	<link rel="stylesheet" href="/css/_add.css" />
	<link rel="stylesheet" href="/css/admin/manageSoftwareHouse.css" />
	<link rel="stylesheet" href="/css/_icone.css" />
	
	<script src="/js/3.7.1_jquery.min.js"></script>
	<link rel="stylesheet" href="/css/_avviso.css" />
	<script src="/js/_avviso.js"></script>
</head>

<body>
	<form th:action="@{/admin/manageSoftwareHouses}" method="post">
		<input id="search" type="text" th:value="${nome}" name="nome" placeholder="Nome software house" />
		<button id="submit" type="submit">Cerca</button>
	</form>
	<span>
		<svg class="add" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
			<path fill-rule="evenodd"
				d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
		</svg><a class="add-text" href="/admin/formNewSoftwareHouse">Aggiungi software house</a>
	</span>
	<div th:if="${softwareHouses==null || softwareHouses.isEmpty()}">Non ci sono software nel sistema</div>
	<ul class="software-houses">
		<li class="software-house" th:each="softwareHouse : ${softwareHouses}">
			<span  class="barra-titolo">
				<a class="titolo" th:href="@{'/softwareHouse' + '/' + ${softwareHouse.id}}" th:text="${softwareHouse.nome}"></a>
				<a th:href="@{'/admin/formUpdateSoftwareHouse/' + ${softwareHouse.id}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icona modifica"
						viewBox="0 0 16 16">
						<path
							d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
					</svg>
				</a>
				<a th:href="@{'/admin/formAddSviluppatoreSoftwareHouse/' + ${softwareHouse.id}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"  class="icona gestione-sviluppatori">
					  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
					</svg>
				</a>
				<a th:onclick="@{'verifica(&quot;/admin/removeSoftwareHouse/' + ${softwareHouse.id}+'&quot;)'}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icona cancellazione"
						viewBox="0 0 16 16">
						<path
							d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
					</svg>
				</a>
				</span>
			<img th:if="${softwareHouse.logo!=null || !softwareHouse.logo.isEmpty()}"
											th:src="@{${softwareHouse.logo.getImagePath}}" class="immagine-software-house">
		</li>
	</ul>
	
	<div class="avviso" id="avviso">
		<div class="contenuto-avviso">
			<div class="header-avviso">
				<span class="chiudi">&times;</span>
				<h2>Conferma eliminazione</h2>
			</div>
			<div class="body-avviso">
				<span>L'eliminazione della software house comporta anche l'eliminazione dei relativi software e delle relative recensioni. L'eliminazione &egrave; un'operazione irreversibile.</span>
				<p>Vuoi confermare l'eliminazione del software?</p>
				<span>
					<button id="annulla">Annulla</button>
					<button id="conferma">Conferma</button>
				</span>
			</div>
		</div>
</body>

</html>