<!DOCTYPE html>
<html>

<head>
	<title>
		Gestisci software House
	</title>
</head>

<body>
	<form th:action="@{/admin/manageSoftwareHouses}" method="post">
		<input id="search" type="text" th:value="${nome}" name="nome" placeholder="Nome software house" />
		<button id="submit" type="submit">Cerca</button>
	</form>
	<a href="/admin/formNewSoftwareHouse">Aggiungi software house</a>
	<div th:if="${softwareHouses==null || softwareHouses.isEmpty()}">Non ci sono software nel sistema</div>
	<ul>
		<li th:each="softwareHouse : ${softwareHouses}">
			<a th:href="@{'/softwareHouse' + '/' + ${softwareHouse.id}}" th:text="${softwareHouse.nome}"></a>
			<a th:href="@{'/admin/formUpdateSoftwareHouse/' + ${softwareHouse.id}}">
				modifica
			</a>
			<a th:href="@{'/admin/formAddSviluppatoreSoftwareHouse/' + ${softwareHouse.id}}">
							aggiungi/togli sviluppatori
						</a>
			<a th:href="@{'/admin/removeSoftwareHouse/' + ${softwareHouse.id}}">
				elimina
			</a>
		</li>
	</ul>
</body>

</html>