<!DOCTYPE html>
<html>

<head>
	<link rel="icon" href="/image/favicon.ico" type="image/x-icon">
	<title>
		Gestisci i software
	</title>
	<link rel="stylesheet" href="/css/_add.css" />
	<link rel="stylesheet" href="/css/_lista software.css" />
	<link rel="stylesheet" href="/css/admin/manageSoftware.css" />
	<link rel="stylesheet" href="/css/_icone.css" />
	
	<script src="/js/3.7.1_jquery.min.js"></script>
	<link rel="stylesheet" href="/css/_avviso.css" />
	<script src="/js/_avviso.js"></script>
	
	<link rel="stylesheet" href="/css/_form.css" />
	
	<link rel="stylesheet" href="/css/_menu.css" />
</head>

<body>
	<section id="Home">
			<nav>
				<div class="logo">
					<a href="/">
						<img src="/image/logo.png">
					</a>
				</div>
				<ul>
					<li th:if="${admin!=true}">
						<a href="/softwareHouses">Software house</a>
					</li>
					<li th:if="${admin==true}">
						<a href="/admin/manageSoftware">Gestisci i software</a>
						<ul class="dropdown">
							<li><a href="/admin/formNewSoftware">Crea software</a></li>
						</ul>
					</li>
					<li th:if="${admin==true}">
						<a href="/admin/manageSviluppatori">Gestisci i sviluppatori</a>
						<ul class="dropdown">
							<li><a href="/admin/formNewSviluppatore">Crea sviluppatore</a></li>
						</ul>
					</li>
					<li th:if="${admin==true}">
						<a href="/admin/manageSoftwareHouses">Gestisci le software house</a>
						<ul class="dropdown">
							<li><a href="/admin/formNewSoftwareHouse">Crea software house</a></li>
						</ul>
					</li>
				</ul>
		
				<div>
					<a th:if="${utenteAuth!=null}" th:href="@{'/sviluppatore/' + ${sviluppatoreAuth.id}}" id="account">
						<img th:src="@{${sviluppatoreAuth.utente.foto.getImagePath}}" id="utente-corrente-immagine">
					</a>
					<a th:if="${utenteAuth!=null}" href="/logout" id="esci">Esci</a>
					<a th:unless="${utenteAuth!=null}" href="/login" id="accedi">Accedi</a>
					<a th:unless="${utenteAuth!=null}" href="/register" id="registrati">Registrati</a>
				</div>
		
			</nav>
		</section>
	<form th:action="@{/admin/manageSoftware}" method="post">
		<div class="input-div">
		    <input th:value="${nome}" required name='nome' type="text" class="input" placeholder="Cerca per nome" onfocus="setFocus(true)" onblur="setFocus(false)">
			<button id="cerca" type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
				  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
				</svg>
			</button>
		</div>
	</form>
		<span class="aggiungi-span">
			<svg class="aggiungi" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
				<path fill-rule="evenodd"
					d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
			</svg><a href="/admin/formNewSoftware">Aggiungi software</a>
		</span>
	<div th:if="${software==null || software.isEmpty()}">Non ci sono software nel sistema</div>
	<ul id="software">
			<li th:each="unSoft : ${software}" class="un-software">
				<div class="contenitore">
					<span class="barra-titolo">
						<a th:href="@{'/software/' + ${unSoft.id}}" th:text="${unSoft.nome}"></a>
						<a th:href="@{'/admin/formUpdateSoftware/' + ${unSoft.id}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icona modifica"
								viewBox="0 0 16 16">
								<path
									d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
							</svg>
						</a>
						<a th:href="@{'/admin/formAddSviluppatoreSoftware/' + ${unSoft.id}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"  class="icona gestione-sviluppatori">
							  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
							</svg>
						</a>
						<a th:onclick="@{'verifica(&quot;/admin/removeSoftware/' + ${unSoft.id}+'&quot;)'}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icona cancellazione"
								viewBox="0 0 16 16">
								<path
									d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
							</svg>
						</a>
						</span>
					<img th:if="${unSoft.immagini!=null || !unSoft.immagini.isEmpty()}"
						th:src="@{${unSoft.immagini[0].getImagePath}}" class="immagine-software">
					<div class="footer">
						<span th:text="${unSoft.categoria}" class="categoria"></span>
						<span th:text='${#dates.format(unSoft.annoPubblicazione, "yyyy")}' class="data"></span>

						<span class="footer-icone">
							<a>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
								  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
								</svg>
								<span th:text="${unSoft.getRecensioni().size()}"></span>
							</a>
							<a>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
								  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
								</svg>
								<span th:text="${unSoft.getMediaStelle()}"></span>
							</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
		
		<div class="avviso" id="avviso">
			<div class="contenuto-avviso">
				<div class="header-avviso">
					<span class="chiudi">&times;</span>
					<h2>Conferma eliminazione</h2>
				</div>
				<div class="body-avviso">
					<span>L'eliminazione del software comporta anche l'eliminazione delle relative recensioni. L'eliminazione &egrave; un'operazione irreversibile.</span>
					<p>Vuoi confermare l'eliminazione del software?</p>
					<span>
						<button id="annulla">Annulla</button>
						<button id="conferma">Conferma</button>
					</span>
				</div>
			</div>
</body>

</html>