<!DOCTYPE html>
<html>

<head>
	<title>
		Gestisci i sviluppatori
	</title>
</head>

<body>
	<form th:action="@{/admin/manageSviluppatore}" method="post">
		<input class="search" type="text" th:value="${nome}" name="nome" placeholder="Nome" />
		<input class="search" type="text" th:value="${cognome}" name="cognome" placeholder="Cognome" />
		<button id="submit" type="submit">Cerca</button>
	</form>
	<div th:if="${sviluppatori==null || sviluppatori.isEmpty()}">Non ci sono software nel sistema</div>
	<ul>
		<li th:each="sviluppatore : ${sviluppatori}">
			<a th:href="@{'/sviluppatore' + '/' + ${sviluppatore.id}}" th:text="${sviluppatore.nome}"></a>
			<a th:href="@{'/admin/formUpdateSviluppatore/' + ${sviluppatore.id}}">
				modifica
			</a>
			<a th:href="@{'/admin/removeSviluppatore/' + ${sviluppatore.id}}">
				elimina
			</a>
		</li>
	</ul>
</body>

</html>