.fileImage {
	line-height: normal;
	display: none;
}

a.icon {
	text-decoration: none;
}

svg.icon {
	max-width: 2rem;
	max-height: 2rem;
	margin: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.cancella {
	color: red;
}

.contenitore {
	position: relative;
	min-width: 20px;
	min-height: 20px;
	padding: 13px;
	display: inline-block;
	position: absolute;
	z-index: 2;
	text-align: right;
}

.ingredient,
.carica-immagine {
	display: flex;
	padding-bottom: 10px;
}

.bottone-icona {
	display: inline-block;
}

.image {
	max-width: 800px;
}

.middle {
	vertical-align: middle;
}

.icona-upload {
	width: 3ch;
	height: 3ch;
	vertical-align: middle;
}

.contenitore-immagine {
	display: flex;
	margin-left: 0;
}

.immagini {
	list-style-type: none;
	margin-left: 0;
}