#fine {
	text-decoration: none;
	font-weight: 700;
}

#immagine-sviluppatore-informazione {
	display: inline-block;
	background: #ccc;
}

#nome-sviluppatore-informazione {
	width: 14ch;
  display: inline-block;
  vertical-align: middle;
  height: 2ch;
  background: #f2f2f2;
  border-radius: 25px;
  -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.7s;
	animation-name: fadeIn;
	animation-duration: 0.7s;
	margin-left: 1ch;
}

#informazione {
	border: 2px solid #ccc;
	border-radius: 25px;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
}

#informazione div {
	margin:1ch;
}

@-webkit-keyframes slideIn {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes slideIn {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.sviluppatori {
	/*overflow: -moz-scrollbars-none;
  	scrollbar-width: none;*/
  	margin-bottom: 10ch;
  	padding-left: 0;
}

.scroll-orizzontale {
	height: 1.7ch;
	background: #ccc;
	border-radius: 25px;
	left: 16px;
	position: fixed;
}

.scroll-orizzontale:hover {
	background: rgb(190, 190, 190);
}