.software-house {
	width: 30ch;
	height: 30ch;
	border-radius: 10%;
	border-radius: 25px;
	box-shadow: 2px 3px 20px -3px rgba(0, 0, 0, .15);
	display: inline-grid;
  	padding: 1ch;
  	margin: 1.2ch;
}

.immagine-software-house {
	width: 25ch;
	height: 25ch;
	object-fit: cover;
	border-radius: 50%;
	vertical-align: middle;
	margin: auto;
}

.barra-titolo {
	margin-bottom: 1ch;
}

.barra-titolo a {
	text-decoration: none;
}

.software-houses {
	width: 98%;
}