svg.icona {
	max-width: 1.3rem;
	max-height: 1.3rem;
	margin-left: 0.5rem;
	vertical-align: middle;
}

.cancellazione {
	color: red;
	cursor: pointer;
}

.modifica {
	color: green;
}

.gestione-sviluppatori {
	color: #f7d204;
}

a {
	text-decoration: none;
}

h1 {
	display: inline;
	vertical-align: middle;
}

.informazioni {
	color: blue;
	height: 5ch;
	width: 5ch;
	cursor: pointer;
}

.informazioni:hover {
	color: rgb(0, 0, 168);
	height: 5ch;
	width: 5ch;
}