.immagine-software {
	width: 30ch;
	height: 30ch;
	object-fit: cover;
	border-radius: 10%;
	border-radius: 25px;
	box-shadow: 2px 3px 20px -3px rgba(0, 0, 0, .15);
	opacity: 0.8;
}

.immagine-software:hover {
	opacity: 1;
}

#software {
	width: 98%;
}

.un-software {
	display: inline-grid;
	padding: 1ch;
	margin: 1.2ch;
}

.contenitore {
	position: relative;
}

.titolo {
	position: absolute;
	padding: 1ch;
	text-decoration: none;
	font-weight: 700;
	font-size: 2ch;
	max-width: 26ch;
	overflow-wrap: break-word;
	color:black;
	z-index: 1;
}

.data {
	font-weight: 700;
	display: flex;
}

.categoria {
	display: flex;

}

.footer {
	position: absolute;
	bottom: 0;
	padding: 1.4ch;
	width: 27ch;
}

.footer-icone {
	position: absolute;
	bottom: 0;
	right:0;
	padding: 1ch;
	display: block;
}