#utente-corrente-immagine {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 1rem;
	
}

#utente-corrente-immagine:hover {
	box-shadow: 2px 3px 20px -3px rgba(0, 0, 0, .15);
}