.submit {
    width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #45a049;
}

.description {
	width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  height: 200px;
  width: 100%;
}

.name {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.fileImage {
	line-height: normal;
	display: none;
}

.fileImage + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.fileImage + label {
  color: #f1e5e6;
  background-color: #4CAF50;
}

label:hover {
  background-color: #45a049;
}

a.icon {
	text-decoration: none;
}

svg.icon {
	max-width: 2rem;
	max-height: 2rem;
	margin: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#delete {
	color:red;
}

.container {
	position: relative;
  min-width: 20px;
    min-height: 20px;
    padding: 13px;
    display:inline-block;
  position: absolute;
  z-index: 2;
  text-align: right;
}

.ingredient, .imageUpload {
	display: flex;
	padding-bottom: 10px;
}

.icon-button {
	display: inline-block;
}

.image {
	max-width: 800px;
}

.middle {
	vertical-align:middle;
}

.hidden {
	display: none;
}